body{
    background-image: url("back.jpg");
    font-size: 25px;
}
div.form
{
    display: block;
    text-align: center;
}
input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#email{
    margin-left: 30px;
    width: 310px;
}
#password{
    width: 300px;
}
#firstName{
    margin-top: 40px;
    width: 310px;
}
#phno{
    width:237px;
}
#lastName{
    margin-left: 4px;
    width: 310px;
}
#address{
    width: 435px;
}
.buttonholder{
    text-align: center;
}
.buttons{
    padding: 20px;
    border-radius: 8px;
}
.validation{
    margin-left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: rgba(250, 3, 3, 0.45);
    font-size: x-large;
}
.buttons:hover{
    background-color: #9696E2;
}
.buttons:active {
    background-color:#9595E7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
