body{
    background: #298eea;
    font-size: 20px;
}
body *{
    box-sizing: border-box;
}
div.form
{
    display: block;
    text-align: center;
    background: white;
    margin-left: 600px;
    margin-right: 600px;
}
h2
{
    text-align: center;
}
input{
    padding: 10px;
    border: 2px solid #e7e7e7
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#email{
    margin-left: 30px;
    width: 325px;
}
#password{
    width: 320px;
}
#firstName{
    margin-top: 40px;
    width: 310px;
}
#phno{
    width:270px;
}
#lastName{
    margin-left: 4px;
    width: 310px;
}
#address{
    width: 435px;
}
.buttonholder{
    text-align: center;
}
.buttons{
    height: auto;
    font-size: 22px;
    font-weight: 500;
    padding: 30px;
    width: 200px;
    text-align: center;
    color: white;
    background: #15CD72;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
}
.validation{
    margin-left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: rgba(250, 3, 3, 0.45);
    font-size: x-large;
}
.buttons:hover{
    background-color: #9696E2;
}
.buttons:active {
    background-color:#9595E7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
